{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    {{ form_widget(form.source, { 'attr': {'placeholder': 'Source des données à récuperer (url, chemin, ...)', 'class': 'input-lg', 'autofocus': 'autofocus' }}) }}
                    <span class="input-group-btn">
                        {{ form_widget(form.submit,  { 'attr': { 'class': 'btn btn-default btn-lg' }}) }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
