{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-xs-2">
        <div class="form-group">
        {{ form_widget(form.importer, { 'attr': {'placeholder': 'Imorter' }}) }}
        </div>
    </div>
    <div class="col-xs-5">
        <div class="form-group">
        {{ form_widget(form.source, { 'attr': {'placeholder': 'Source' }}) }}
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group">
        {{ form_widget(form.name, { 'attr': {'placeholder': 'Nom' }}) }}
        </div>
    </div>
    <div class="col-xs-1">
        <div class="form-group">
            {{ form_widget(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}