{% extends '::base.html.twig' %}

{% set menu = 'source' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Ajouter une source de données</h3></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-xs-2">Type</th>
                        <th class="col-xs-8">Description</th>
                        <th class="col-xs-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for importer in importers %}
                        <tr>
                            <td><a href="{{ path('source_create', {'type': importer.name}) }}">{{ importer.name }}</a></td>
                            <td>{{ importer.description }}</td>
                            <td><a href="{{ path('source_create', {'type': importer.name}) }}" class="btn btn-default btn-xs btn-block">Ajouter</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Sources de données importées</h3>
            <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-2">Type</th>
                    <th>Source</th>
                </tr>
            </thead>
            {% for source in sources %}
                <tr>
                    <td>{{ source.importer }}</td>
                    <td>{{ source.title }} <a class="btn btn-xs btn-default pull-right" href="{{ path('source_edit', {'id': source.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
