<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Mon activité{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bower_components/jquery-minicolors/jquery.minicolors.css') }}" rel="stylesheet" />
            <link href="{{ asset('bower_components/bootstrap-iconpicker/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>
    <body>
        <nav id="nav_top" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main-element">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a style="padding-top:8px; padding-bottom: 8px;" class="navbar-brand" href="{{ path('timeline') }}"><img src="{{ asset('images/logo.png') }}" alt="Mon activité" /></a>
            </div>
            <form action="" method="get" class="navbar-form navbar-left hidden-sm" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" name="q" value="{{ query | default(null) }}" class="form-control" id="nav_top_input_search"  placeholder="Rechercher...">
                        <span class="input-group-btn">
                            <a {% if(not query|default(null)) %}disabled="disabled"{% endif %} data-toggle="tooltip" data-placement="bottom" title="Créer un filtre" href="{{ path('filter', {'q': query | default(null)}) }}" class="btn btn-default" type="button">
                            <span style="font-size: 10px;" class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-filter"></span>
                        </a>
                        </span>
                    </div>
                    {% set durations = {'6': '6 mois', '12': '1 an', '24': '2 ans'} %}
                    <select name="duration" class="form-control submit-on-change">
                        {% for duraKey,duraLibelle in durations %}
                            <option {% if(duraKey == duration) %}selected="selected"{% endif %} value="{{ duraKey }}">{{ duraLibelle }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <div class="collapse navbar-collapse" id="nav-main-element">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{%if (menu | default(null) == 'source') %}active{% endif %}"><a data-toggle="tooltip" data-placement="bottom" title="Sources" href="{{ path('source') }}"><span class="glyphicon glyphicon-record"></span> Sources </a></li>
                    <li class="{%if (menu | default(null) == 'tag') %}active{% endif %}"><a data-toggle="tooltip" data-placement="bottom" title="Tags" href="{{ path('tag') }}"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Tags</a></li>
                    <li class="{%if (menu | default(null) == 'filter') %}active{% endif %}"><a data-toggle="tooltip" data-placement="bottom" title="Filtres" href="{{ path('filter') }}"><span class="glyphicon glyphicon-filter"></span> Filtres</a></li>
                    <li class="{%if (menu | default(null) == 'update') %}active{% endif %}"><a data-toggle="tooltip" data-placement="bottom" title="Mise à jour des données" href="{{ path('update') }}"><span class="glyphicon glyphicon-refresh"></span> Importer</a></li>
                </ul>
            </div>

          </div>
        </nav>
        <div id="main" class="container" style="background: white;">
            {% if app.session.flashbag.peekAll|length > 0 %}
                {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type ? type : '' }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message|trans({}, domain|default('messages')) }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block body %}{% endblock %}
        </div>
        <div id="modal-default" class="modal" tabindex="-1" role="dialog"></div>
        {% block javascripts %}
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bower_components/jquery-minicolors/jquery.minicolors.min.js') }}"></script>
            <script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-glyphicon.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap-iconpicker/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js') }}"></script>
            <script src="{{ asset('js/main.js?20170508') }}"></script>
        {% endblock %}
    </body>
</html>
