<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Mon activité{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bower_components/jquery-minicolors/jquery.minicolors.css') }}" rel="stylesheet" />
            <link href="{{ asset('bower_components/bootstrap-iconpicker/bootstrap-iconpicker/css/bootstrap-iconpicker.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>
    <body style="background: #f7f7f7;">
        <nav class="navbar navbar-default navbar-fixed-top" style="opacity:0.9; background-color: #f9f9f9;">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main-element">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a style="padding-top:8px; padding-bottom: 8px;" class="navbar-brand" href="{{ path('timeline') }}"><img src="{{ asset('images/logo.png') }}" alt="Mon activité" /></a>
            </div>
            <form action="" method="get" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" name="q" value="{{ query | default(null) }}" class="form-control" style="width: 380px;" placeholder="Rechercher...">
                        {% if(query | default(null)) %}
                        <span class="input-group-btn">
                        <a data-toggle="tooltip" data-placement="bottom" title="Ajouter un filtre" href="{{ path('filter', {'q': query}) }}" class="btn btn-default" type="button"><small><small><small><small><span class="glyphicon glyphicon-plus"></span></small></small></small></small><span class="glyphicon glyphicon-filter"></span></a>
                        <a data-toggle="tooltip" data-placement="bottom" title="Annuler la recherche" href="{{ path('timeline') }}" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></a></span>
                        {% endif %}
                    </div>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-time"></span> 6 mois</button>
                </div>
            </form>
            <div class="collapse navbar-collapse" id="nav-main-element">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{%if (menu | default(null) == 'source') %}active{% endif %}"><a data-toggle="tooltip" data-placement="bottom" title="Sources" href="{{ path('source') }}"><span class="glyphicon glyphicon-record"></span> Sources </a></li>
                    <li class="{%if (menu | default(null) == 'tag') %}active{% endif %}"><a data-toggle="tooltip" data-placement="bottom" title="Tags" href="{{ path('tag') }}"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Tags</a></li>
                    <li class="{%if (menu | default(null) == 'filter') %}active{% endif %}"><a data-toggle="tooltip" data-placement="bottom" title="Filtres" href="{{ path('filter') }}"><span class="glyphicon glyphicon-filter"></span> Filtres</a></li>
                    <li class="{%if (menu | default(null) == 'update') %}active{% endif %}"><a data-toggle="tooltip" data-placement="bottom" title="Mise à jour des données" href="{{ path('update') }}"><span class="glyphicon glyphicon-refresh"></span> Importer</a></li>
                </ul>
            </div>

          </div>
        </nav>
        <div id="main" class="container" style="background: white;">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bower_components/jquery-minicolors/jquery.minicolors.min.js') }}"></script>
            <script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap-iconpicker/bootstrap-iconpicker/js/iconset/iconset-glyphicon.min.js') }}"></script>
            <script src="{{ asset('bower_components/bootstrap-iconpicker/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
