{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-xs-8">
        <div class="form-group">
        {{ form_widget(form.query, { 'attr': {'placeholder': 'Requête de recherche' }}) }}
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
        {{ form_widget(form.tag, { 'attr': {'data-placeholder': 'Tag à appliquer', 'class': 'select2' }}) }}
        </div>
    </div>
    <div class="col-xs-1">
        <div class="form-group">
            {{ form_widget(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}
