{% for date, activities in activitiesByDates %}
    <h3>
        <span class="pull-right">{{ date | localizeddate("none", "none", null, null, "E d MMM yyyy") | capitalize }}</span>
        <div class="btn-group">
            {% for tag in activities.tags %}
                {% include 'Tag/button.html.twig' with {'tag': tag.entity, url: path('timeline', { 'q': (query~' tag:'~tag.entity.name) | trim, 'dateFrom': dateFrom, 'dateTo': dateTo, 'nbDays': nbDays}), 'badge': tag.nb | number_format(2, '.', '') } %}
            {% endfor %}
        </div>
    </h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="ligneContainer">
                {% set i = 0 %}
                {% for activity in activities.activities %}
                    <div class="ligne" data-id="{{ activity.id }}" style="{% if(i % 2) %}background-color: #f5f5f5;{% endif %}">
                        {% if(not noTags | default(false)) %}
                        <div class="col-xs-2 text-left itemTags">
                            <div class="btn-group">
                                {% for j in 0..(3 - activity.tags | length) if activity.tags | length <= 3 %}
                                <button type="button" class="btn btn-sm btn-default btn-tag-empty"><span class="glyphicon glyphicon-plus"></span></button>
                                {% endfor %}
                                {% set j = 0 %}
                                {% for tag in activity.getTagsReverse() if j < 4 %}
                                    {% include 'Tag/button_small.html.twig' with {'type': 'button', 'tag': tag, 'attr':{ 'data-id': tag.id}} %}
                                    {% set j = j + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-xs-2 itemAttribute">
                            <span style="padding-right: 4px; font-size: 14px; opacity: 0.7;">{{ activity.executedAt | date('H:i') }}</span>&nbsp;
                            <div class="btn-group">
                                {% set j = 0 %}
                                {% for attribute in activity.attributes if j < 3  %}
                                    <a href="{% if(not noTags | default(false)) %}{{ path('timeline', { 'q': (query~' '~attribute.name~':'~attribute.value) | trim, 'dateFrom': dateFrom, 'dateTo': dateTo, 'nbDays': nbDays}) }}{% endif %}" data-toggle="tooltip" data-placement="auto" title="{{ attribute.value }}&nbsp;<small>({{ attribute.name }})</small>" data-html="true" data-container="body" class="btn btn-sm btn-default text-left btn-attribute-small"><span class="text-muted text-left">{{ attribute.value | replace({ "." : "", "-": "", "@": "" }) | slice(0, 5) | upper  }}</span></a>
                                    {% set j = j + 1 %}
                                {% endfor %}
                                {% if activity.attributes | length < 3 %}
                                    {% for j in 0..(2 - (activity.attributes | length)) if activity.tags | length < 2 %}
                                        <button class="btn btn-sm btn-default btn-attribute-small-empty text-left">&nbsp;</button>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-7 itemContent {% if activity.value %}itemContentWithValue{% endif %}">
                            <span>{{ activity.title }}</span>&nbsp;<small style="opacity: 0.7;"  class="text-muted">{{ activity.content | slice(0, 200) }}</small>
                        </div>
                        {% if activity.value is not null %}
                        <div class="col-xs-1 text-right itemValue">
                            <a href="{{ path('timeline', { 'q': (query~' value = '~activity.value) | trim, 'dateFrom': dateFrom, 'dateTo': dateTo, 'nbDays': nbDays}) }}">{{ activity.value | number_format(2, '.', '') }}</a>
                        </div>
                        {% endif %}
                        <div class="col-xs-1 text-right itemAction">
                            <a href="{% if activity.id %}{{ path('activity_view', { 'id': activity.id, 'query': query, 'dateFrom': dateFrom, 'dateTo': dateTo, 'nbDays': nbDays })}}{% endif %}" title="{{ activity.content | truncate(350, true, '...') | nl2br }}" class="btn-activity-view" data-toggle="tooltipHtml"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% set i = i + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="list-end"></div>
{% endfor %}

{% if dateNext is defined and dateNext %}
<div class="row" id="btn_load_more_container" style="margin-top: 10px;">
    <div class="col-lg-12 text-center">
        <button data-loading-text="Chargement en cours ..." id="btn_load_more_activities" data-url="{{ path('activity_list', { 'q': query, 'dateFrom': dateFrom, 'dateTo': dateTo, 'nbDays': nbDays, 'dateFromQuery': dateNext }) }}" class="btn btn-link">Charger les jours précédents</button>
    </div>
</div>
{% endif %}
